.slogan-parallax{

  background-attachment: fixed;
  display:flex;
  height: 50vh;

  background-image: linear-gradient(
    to bottom,
    rgba($light-grey, 0.6),
    rgba($lighter-grey, 0.6)),
    url(../img/welding.jpg);

  background-size: cover;
  background-position: top;
  background-attachment: fixed;

  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.s-p-text {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1rem;
}